@font-face {
    font-family: 'gilroy';
    src: url(font/Gilroy-Regular.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
}

#left{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1613026121992-8e5ec21fd51e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#right{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1597863355612-c63a1a9eed80?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#overlay1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.546);
}

#center1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

#center1 h1{
    font-family: 'gilroy';
    font-size: 45px;
    font-weight: 100;
}

#center1 p{
    font-family: 'gilroy';
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#center1 button{
    font-family: 'gilroy';
    width: 145px;
    height: 45px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 2px;
    border: 1px solid #fff;
}

#center1 button:hover{
    background-color: #fff;
    color: #000;
}

#overlay2{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.546);

}

#center2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
}

#center2 h1{
    font-family: 'gilroy';
    font-size: 45px;
    font-weight: 100;
}

#center2 p{
    font-family: 'gilroy';
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#center2 button{
    font-family: 'gilroy';
    width: 145px;
    height: 45px;
    background-color: transparent;
    color: #000;
    letter-spacing: 2px;
    border: 1px solid #000;
}

#center2 button:hover{
    background-color: #000;
    color: #fff;
}